#barraMenu {
  background-color: aqua;
}

#bomba_combustivel {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

#titulo {
  text-align: center;

  font-family: Arial, Helvetica, sans-serif;
  height: 60px;
  padding: 5px;
}
h1 {
  margin: 5px;
  padding: 5px;
}

#inputs {
  text-align: center;
  margin: auto;
}
#input1 {
  background-color: aqua;
}
#input2 {
  background-color: cornflowerblue;
}
#etanol {
  height: 30px;
  text-align: left;
}
#gasolina {
  height: 30px;
  text-align: left;
}

#button_container {
  margin-top: 20px;
  height: 30px;
  text-align: center;
}
button {
  width: 200px;
}

@font-face {
  font-family: 'cocogoose';
  src: url('../assets/fonts/cocogoose/cocogoose\ pro\ ultralight-trial.ttf');
  font-weight: normal;
  font-style: normal;
}

footer {
  font-family: JetBrains Mono;
  font-size: x-small;
  margin-top: 50px;
  padding: auto;
  text-align: end;
}
